*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    background-color: #222;
    color: #fff;
}
nav{
    display: flex;
    padding: 0 20px ;
    justify-content: space-between;
}
nav .profile{
    display: flex;
    margin: 10px 20px;
}
nav .logo img{
    object-fit: contain;
    max-width: 10%;
    margin-top:1% ;
}
nav .profile .joinnow{
    background-color: red;
    padding: 5px 55px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    font-weight: 600;
    margin: 0 10px;
}
nav .profile .joinnow:hover{
    background-color: #fff;
color: #181818;
transition:0.2s ;
}
nav .profile .signin{
    background-color: transparent;
    color: #fff;
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 20px;
    font-family: Arial;
    font-weight: 600;
}
nav .profile .signin:hover{
    background-color: #fff;
    color: #181818;
    transition:0.2s ;
}

.banner{
    background:linear-gradient(120deg, #181818 20%, hsla(0, 0%, 9%, .98) 10%, hsla(0, 0%, 9%, .97) 15%, hsla(0, 0%, 9%, .95) 20%, hsla(0, 0%, 9%, .94) 25%, hsla(0, 0%, 9%, .92) 30%, hsla(0, 0%, 9%, .9) 35%, hsla(0, 0%, 9%, .87) 40%, hsla(0, 0%, 9%, .82) 45%, hsla(0, 0%, 9%, .75) 50%, hsla(0, 0%, 9%, .63) 55%, hsla(0, 0%, 9%, .45) 60%, hsla(0, 0%, 9%, .27) 65%, hsla(0, 0%, 9%, .15) 70%, hsla(0, 0%, 9%, .08) 80%, hsla(0, 0%, 9%, .03) 95%, hsla(0, 0%, 9%, 0) ),url("https://occ-0-2085-2164.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABWCgnxNvGHE0oEhLVP7ptbmHU_Fsu_gRIIlt8_NsI4vDhjjfW6Q_tCOsQNVP32wRc9VvGJMhiDAoPsN1xSgnl-B1C-2iwXWq4m1R.jpg?r=740");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
}
.bannercontent .bannertitle img{
    object-fit: contain;
    max-width:50% ;
}
.bannercontent{
    padding: 10% 5%;
}
.bannercontent .bannertitle h1{
    font-size:70px ;
    font-style:italic;
    padding: 10px 0px;
}
.bannercontent .bannertitle h3{
    color: #a3a3a3;
    padding: 10px 0px;

}
.bannercontent .bannertitle span{
    padding: 0 5px;
}
.bannercontent .bannertitle .a1{

padding: 4px 8px;
border:2px solid #a3a3a3;
}
.bannercontent .bannertitle p{
    max-width: 30%;
}
.bannercontent .bannertitle .a2{
    color: #fff;
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x:scroll;
    margin: 1% 0.5%;
  }


.posters .new{
    margin: 0% 2% 0% 2%;
    border-radius: 0.3%;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2% 0% 0% 2%;
    font-size:2rem; 
}

.c1{
    text-align: center;
    font-weight:400px;
    font-size: o.8%;
    padding: 2% 0%;
}